/*  */
@font-face {
  font-family: 'BlenderPro-Medium';
  src: local('BlenderPro-Medium'), url(../../assets/fonts/BlenderPro-Medium.woff) format('woff');
}
@font-face {
  font-family: 'BlenderPro-Regular';
  src: local('BlenderPro-Regular'), url(../../assets/fonts/BlenderPro-Book.woff) format('woff');
}
.conatctWrapper{
  text-align: left;
  padding: 12.5vh 0;
}
.conatctWrapper h1{
  /* font-size: 3rem; */
  font-size: calc(20px + 2vmin);
  font-family: 'BlenderPro-Medium';
  writing-mode: vertical-rl;
  /* text-orientation: upright; */
  position: absolute;
    right: 0;
    top: 40%;
    color: #84477f;
    letter-spacing: 10px;
    text-transform: uppercase;
    
}
@media only screen and (max-width: 900px) {
  .conatctWrapper h2 {
    margin-top: 15px;
    margin-bottom: 0;
  }
}

