@font-face {
  font-family: 'BlenderPro-Regular';
  src: local('BlenderPro-Regular'), url(./assets/fonts/BlenderPro-Book.woff) format('woff');
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black !important;
  color: #fff;
  font-family: 'BlenderPro-Regular' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li:hover{
  list-style: none !important;
}
body input ~ nav > ul > li > a.active ,a:hover {
  color: #964e8d;
  text-decoration: none !important;
}